@import url(./pygments.css);

:root {
  --color-accent: #1e66f5;
  --color-base-font: #4c4f69;
  --color-base-font-rgb: 76, 79, 105;
  --color-base-background: #eff1f5;
  --color-base-background-mobile: #eff1f5;
  --color-url-font: var(--color-accent);
  --color-url-visited-font: var(--color-accent);
  --color-header-background: #e6e9ef;
  --color-header-border: #e6e9ef;
  --color-footer-background: #e6e9ef;
  --color-footer-border: #e6e9ef;
  --color-sidebar-border: #eff1f5;
  --color-sidebar-font: #4c4f69;
  --color-sidebar-background: #eff1f5;
  --color-backtotop-font: #5c5f77;
  --color-backtotop-border: #ccd0da;
  --color-backtotop-background: #ccd0da;
  --color-btn-background: var(--color-accent);
  --color-btn-font: #eff1f5;
  --color-show-btn-background: var(--color-accent);
  --color-show-btn-font: #eff1f5;
  --color-search-border: #ccd0da;
  --color-search-shadow: 0 2px 8px #dce0e8;
  --color-search-background: #ccd0da;
  --color-search-font: #4c4f69;
  --color-search-background-hover: var(--color-accent);
  --color-error: #d20f39;
  --color-error-background: #ccd0da;
  --color-warning: #df8e1d;
  --color-warning-background: #ccd0da;
  --color-success: #40a02b;
  --color-success-background: #ccd0da;
  --color-categories-item-selected-font: #4c4f69;
  --color-categories-item-border-selected: var(--color-accent);
  --color-autocomplete-font: #5c5f77;
  --color-autocomplete-border: #ccd0da;
  --color-autocomplete-shadow: 0 2px 8px #dce0e8;
  --color-autocomplete-background: #ccd0da;
  --color-autocomplete-background-hover: #bcc0cc;
  --color-answer-font: #4c4f69;
  --color-answer-background: #e6e9ef;
  --color-result-background: #e6e9ef;
  --color-result-border: #eff1f5;
  --color-result-url-font: #5c5f77;
  --color-result-vim-selected: #ccd0da;
  --color-result-vim-arrow: var(--color-accent);
  --color-result-description-highlight-font: #4c4f69;
  --color-result-link-font: var(--color-accent);
  --color-result-link-font-highlight: var(--color-accent);
  --color-result-link-visited-font: var(--color-accent);
  --color-result-publishdate-font: #acb0be;
  --color-result-engines-font: #acb0be;
  --color-result-search-url-border: #acb0be;
  --color-result-search-url-font: #4c4f69;
  --color-result-image-span-font: #4c4f69;
  --color-result-image-span-font-selected: #eff1f5;
  --color-result-image-background: #e6e9ef;
  --color-settings-tr-hover: #ccd0da;
  --color-settings-engine-description-font: #4c4f69;
  --color-settings-table-group-background: #ccd0da;
  --color-result-detail-font: #4c4f69;
  --color-result-detail-label-font: #6c6f85;
  --color-result-detail-background: #eff1f5;
  --color-result-detail-hr: #eff1f5;
  --color-result-detail-link: var(--color-accent);
  --color-result-detail-loader-border: rgba(255, 255, 255, 0.2);
  --color-result-detail-loader-borderleft: #dce0e8;
  --color-toolkit-badge-font: #4c4f69;
  --color-toolkit-badge-background: #ccd0da;
  --color-toolkit-kbd-font: #4c4f69;
  --color-toolkit-kbd-background: #ccd0da;
  --color-toolkit-dialog-border: #e6e9ef;
  --color-toolkit-dialog-background: #e6e9ef;
  --color-toolkit-tabs-label-border: #eff1f5;
  --color-toolkit-tabs-section-border: #eff1f5;
  --color-toolkit-select-background: #ccd0da;
  --color-toolkit-select-border: #ccd0da;
  --color-toolkit-select-background-hover: #bcc0cc;
  --color-toolkit-input-text-font: #4c4f69;
  --color-toolkit-checkbox-onoff-off-background: #ccd0da;
  --color-toolkit-checkbox-onoff-on-background: #ccd0da;
  --color-toolkit-checkbox-onoff-on-mark-background: #40a02b;
  --color-toolkit-checkbox-onoff-on-mark-color: #e6e9ef;
  --color-toolkit-checkbox-onoff-off-mark-background: #d20f39;
  --color-toolkit-checkbox-onoff-off-mark-color: #e6e9ef;
  --color-toolkit-checkbox-label-background: #eff1f5;
  --color-toolkit-checkbox-label-border: #e6e9ef;
  --color-toolkit-checkbox-input-border: var(--color-accent);
  --color-toolkit-engine-tooltip-border: #ccd0da;
  --color-toolkit-engine-tooltip-background: #ccd0da;
  --color-toolkit-loader-border: rgba(255, 255, 255, 0);
  --color-toolkit-loader-borderleft: #dce0e8;
  --color-doc-code: #dc8a78;
  --color-doc-code-background: #e6e9ef;
}

select {
  background-image: url(../_common/select-light.svg);
}
