<div id="engines_msg">
  {% if not results and not answers %}
  <details class="sidebar-collapsable" open>
  {% else %}
  <details class="sidebar-collapsable">
  {% endif %}
    <summary class="title" id="engines_msg-title">{{ _('Engine stats') }}</summary>
    <table class="engine-stats" id="engines_msg-table">
      {%- for engine_name, error_type in unresponsive_engines -%}
      <tr>
        <td class="engine-name">
          <a href="{{ url_for('stats', engine=engine_name|e) }}"
             title="{{ _('View error logs and submit a bug report') }}">
             {{- engine_name -}}
          </a>
        </td>
        <td class="response-error">{{- error_type -}}</td>
      </tr>
      {%- endfor -%}
      {%- for timing in timings | reverse -%}
      <tr>
        <td class="engine-name"><a href="{{ url_for('stats', engine=timing.engine|e) }}">{{ timing.engine }}</a></td>
        <td class="response-time">
          <div class="bar-chart-value">{{- timing.total | round(1) -}}</div>
          <div class="bar-chart-graph" aria-labelledby="{{timing.engine}}_time" aria-hidden="true">
            <div class="bar-chart-bar bar{{ (100 * timing.total / timings[-1].total) | round | int }}"></div>
          </div>
        </td>
      </tr>
      {%- endfor -%}
    </table>
  </details>
</div>
