@import url(./pygments.css);

:root {
  --color-accent: #8caaee;
  --color-base-font: #c6d0f5;
  --color-base-font-rgb: 198, 208, 245;
  --color-base-background: #303446;
  --color-base-background-mobile: #303446;
  --color-url-font: var(--color-accent);
  --color-url-visited-font: var(--color-accent);
  --color-header-background: #292c3c;
  --color-header-border: #292c3c;
  --color-footer-background: #292c3c;
  --color-footer-border: #292c3c;
  --color-sidebar-border: #303446;
  --color-sidebar-font: #c6d0f5;
  --color-sidebar-background: #303446;
  --color-backtotop-font: #b5bfe2;
  --color-backtotop-border: #414559;
  --color-backtotop-background: #414559;
  --color-btn-background: var(--color-accent);
  --color-btn-font: #303446;
  --color-show-btn-background: var(--color-accent);
  --color-show-btn-font: #303446;
  --color-search-border: #414559;
  --color-search-shadow: 0 2px 8px #232634;
  --color-search-background: #414559;
  --color-search-font: #c6d0f5;
  --color-search-background-hover: var(--color-accent);
  --color-error: #e78284;
  --color-error-background: #414559;
  --color-warning: #e5c890;
  --color-warning-background: #414559;
  --color-success: #a6d189;
  --color-success-background: #414559;
  --color-categories-item-selected-font: #c6d0f5;
  --color-categories-item-border-selected: var(--color-accent);
  --color-autocomplete-font: #b5bfe2;
  --color-autocomplete-border: #414559;
  --color-autocomplete-shadow: 0 2px 8px #232634;
  --color-autocomplete-background: #414559;
  --color-autocomplete-background-hover: #51576d;
  --color-answer-font: #c6d0f5;
  --color-answer-background: #292c3c;
  --color-result-background: #292c3c;
  --color-result-border: #303446;
  --color-result-url-font: #b5bfe2;
  --color-result-vim-selected: #414559;
  --color-result-vim-arrow: var(--color-accent);
  --color-result-description-highlight-font: #c6d0f5;
  --color-result-link-font: var(--color-accent);
  --color-result-link-font-highlight: var(--color-accent);
  --color-result-link-visited-font: var(--color-accent);
  --color-result-publishdate-font: #626880;
  --color-result-engines-font: #626880;
  --color-result-search-url-border: #626880;
  --color-result-search-url-font: #c6d0f5;
  --color-result-image-span-font: #c6d0f5;
  --color-result-image-span-font-selected: #303446;
  --color-result-image-background: #292c3c;
  --color-settings-tr-hover: #414559;
  --color-settings-engine-description-font: #c6d0f5;
  --color-settings-table-group-background: #414559;
  --color-result-detail-font: #c6d0f5;
  --color-result-detail-label-font: #a5adce;
  --color-result-detail-background: #303446;
  --color-result-detail-hr: #303446;
  --color-result-detail-link: var(--color-accent);
  --color-result-detail-loader-border: rgba(255, 255, 255, 0.2);
  --color-result-detail-loader-borderleft: #232634;
  --color-toolkit-badge-font: #c6d0f5;
  --color-toolkit-badge-background: #414559;
  --color-toolkit-kbd-font: #c6d0f5;
  --color-toolkit-kbd-background: #414559;
  --color-toolkit-dialog-border: #292c3c;
  --color-toolkit-dialog-background: #292c3c;
  --color-toolkit-tabs-label-border: #303446;
  --color-toolkit-tabs-section-border: #303446;
  --color-toolkit-select-background: #414559;
  --color-toolkit-select-border: #414559;
  --color-toolkit-select-background-hover: #51576d;
  --color-toolkit-input-text-font: #c6d0f5;
  --color-toolkit-checkbox-onoff-off-background: #414559;
  --color-toolkit-checkbox-onoff-on-background: #414559;
  --color-toolkit-checkbox-onoff-on-mark-background: #a6d189;
  --color-toolkit-checkbox-onoff-on-mark-color: #292c3c;
  --color-toolkit-checkbox-onoff-off-mark-background: #e78284;
  --color-toolkit-checkbox-onoff-off-mark-color: #292c3c;
  --color-toolkit-checkbox-label-background: #303446;
  --color-toolkit-checkbox-label-border: #292c3c;
  --color-toolkit-checkbox-input-border: var(--color-accent);
  --color-toolkit-engine-tooltip-border: #414559;
  --color-toolkit-engine-tooltip-background: #414559;
  --color-toolkit-loader-border: rgba(255, 255, 255, 0);
  --color-toolkit-loader-borderleft: #232634;
  --color-doc-code: #f2d5cf;
  --color-doc-code-background: #292c3c;
}

select {
  background-image: url(../_common/select-dark.svg);
}
