@import url(./pygments.css);

:root {
  --color-accent: #8aadf4;
  --color-base-font: #cad3f5;
  --color-base-font-rgb: 202, 211, 245;
  --color-base-background: #24273a;
  --color-base-background-mobile: #24273a;
  --color-url-font: var(--color-accent);
  --color-url-visited-font: var(--color-accent);
  --color-header-background: #1e2030;
  --color-header-border: #1e2030;
  --color-footer-background: #1e2030;
  --color-footer-border: #1e2030;
  --color-sidebar-border: #24273a;
  --color-sidebar-font: #cad3f5;
  --color-sidebar-background: #24273a;
  --color-backtotop-font: #b8c0e0;
  --color-backtotop-border: #363a4f;
  --color-backtotop-background: #363a4f;
  --color-btn-background: var(--color-accent);
  --color-btn-font: #24273a;
  --color-show-btn-background: var(--color-accent);
  --color-show-btn-font: #24273a;
  --color-search-border: #363a4f;
  --color-search-shadow: 0 2px 8px #181926;
  --color-search-background: #363a4f;
  --color-search-font: #cad3f5;
  --color-search-background-hover: var(--color-accent);
  --color-error: #ed8796;
  --color-error-background: #363a4f;
  --color-warning: #eed49f;
  --color-warning-background: #363a4f;
  --color-success: #a6da95;
  --color-success-background: #363a4f;
  --color-categories-item-selected-font: #cad3f5;
  --color-categories-item-border-selected: var(--color-accent);
  --color-autocomplete-font: #b8c0e0;
  --color-autocomplete-border: #363a4f;
  --color-autocomplete-shadow: 0 2px 8px #181926;
  --color-autocomplete-background: #363a4f;
  --color-autocomplete-background-hover: #494d64;
  --color-answer-font: #cad3f5;
  --color-answer-background: #1e2030;
  --color-result-background: #1e2030;
  --color-result-border: #24273a;
  --color-result-url-font: #b8c0e0;
  --color-result-vim-selected: #363a4f;
  --color-result-vim-arrow: var(--color-accent);
  --color-result-description-highlight-font: #cad3f5;
  --color-result-link-font: var(--color-accent);
  --color-result-link-font-highlight: var(--color-accent);
  --color-result-link-visited-font: var(--color-accent);
  --color-result-publishdate-font: #5b6078;
  --color-result-engines-font: #5b6078;
  --color-result-search-url-border: #5b6078;
  --color-result-search-url-font: #cad3f5;
  --color-result-image-span-font: #cad3f5;
  --color-result-image-span-font-selected: #24273a;
  --color-result-image-background: #1e2030;
  --color-settings-tr-hover: #363a4f;
  --color-settings-engine-description-font: #cad3f5;
  --color-settings-table-group-background: #363a4f;
  --color-result-detail-font: #cad3f5;
  --color-result-detail-label-font: #a5adcb;
  --color-result-detail-background: #24273a;
  --color-result-detail-hr: #24273a;
  --color-result-detail-link: var(--color-accent);
  --color-result-detail-loader-border: rgba(255, 255, 255, 0.2);
  --color-result-detail-loader-borderleft: #181926;
  --color-toolkit-badge-font: #cad3f5;
  --color-toolkit-badge-background: #363a4f;
  --color-toolkit-kbd-font: #cad3f5;
  --color-toolkit-kbd-background: #363a4f;
  --color-toolkit-dialog-border: #1e2030;
  --color-toolkit-dialog-background: #1e2030;
  --color-toolkit-tabs-label-border: #24273a;
  --color-toolkit-tabs-section-border: #24273a;
  --color-toolkit-select-background: #363a4f;
  --color-toolkit-select-border: #363a4f;
  --color-toolkit-select-background-hover: #494d64;
  --color-toolkit-input-text-font: #cad3f5;
  --color-toolkit-checkbox-onoff-off-background: #363a4f;
  --color-toolkit-checkbox-onoff-on-background: #363a4f;
  --color-toolkit-checkbox-onoff-on-mark-background: #a6da95;
  --color-toolkit-checkbox-onoff-on-mark-color: #1e2030;
  --color-toolkit-checkbox-onoff-off-mark-background: #ed8796;
  --color-toolkit-checkbox-onoff-off-mark-color: #1e2030;
  --color-toolkit-checkbox-label-background: #24273a;
  --color-toolkit-checkbox-label-border: #1e2030;
  --color-toolkit-checkbox-input-border: var(--color-accent);
  --color-toolkit-engine-tooltip-border: #363a4f;
  --color-toolkit-engine-tooltip-background: #363a4f;
  --color-toolkit-loader-border: rgba(255, 255, 255, 0);
  --color-toolkit-loader-borderleft: #181926;
  --color-doc-code: #f4dbd6;
  --color-doc-code-background: #1e2030;
}

select {
  background-image: url(../_common/select-dark.svg);
}
